.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #333;
  width: 20vw;
  height: 40vh;
}

.button {
  display: none;
  flex-direction: row-reverse;
  position: relative;
  z-index: 999;
  width: 100%;
}

.card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 20px 0px 10px;
}

.image_container img {
  max-width: 100%;
  max-height: 100%;
}

.card:hover .button {
  display: flex;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
    height: auto;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }

  .image_container {
    width: 20%;
    height: auto;
    margin: 0px;
    border: none;
  }

  .image_container img {
    width: 100%;
    height: auto;
  }

  .card h3 {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    margin-left: -100px;
    text-align: left;
  }

  .button {
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-items: center;
  }

  .button button {
    margin-left: 50%;
  }
}
